{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'layout/nav_admin.html.twig' %}
{% endblock %}

{% block body %}

    <div class="container-fluid section--box">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 xs-12">
                <div class="card text-dark p-5">
                    <h1 class="pt-5 card-title">Créer un évènement</h1>
                    {{ include('admin/event/_form.html.twig') }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
