{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'layout/nav.html.twig' %}
{% endblock %}

{% block body %}
    <!-- MemberController -->
    <img src="{{ asset('build/pik/bp/armada-rouen-2019-nhpb-cornemuserouen.jpg') }}" class="background--page" alt="...">
    <div class="container-fluid section--box">
        <div class="row">

            <div class="col-lg-3 col-md-3">
                {% include 'layout/subnav.html.twig' %}
            </div>

            <div class="col-lg-6 col-md-10 col-sm-12 xs-12">
                <div class="card event--card p-5">
                    <h1 class="pt-5 card-title">Les Membres</h1>
                    <div class="event-container">
                        <h3 class="event-title">Les Musiciens</h3>
                        <p>Ils portent le kilt comme personne, souffle dans leur cornemuse avec ferveur, ou tape sur leur drum
                            plein d'entrain : voici nos musiciens.</p>
                        <p>
                            {% for member in members %}


                                {% if member.memberStatut == 'Musicien' %}
                                    <figure class="figure">
                                        <img src="{{ vich_uploader_asset(member, 'imageFile') }}" style="width: 10vw; height: auto;">
                                        <figcaption class="figure-caption">{{ member.memberName }}</figcaption>
                                    </figure>


                                {% endif %}

                            {% endfor %}
                        </p>
                    </div>
                    <div class="event-container">
                        <h3 class="event-title">Les Accompagnants</h3>
                        <p>Ils portent les bouteilles d'eau avec ferveur, prennent de photos comme personne, et assure la
                            sécurité des musiciens comme si leur vie en dépendait : voici nos accompagnants.</p>
                        <p>

                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="gallery">

                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'layout/footer.html.twig' %}
{% endblock %}