{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'layout/nav.html.twig' %}
{% endblock %}

{% block body %}
<!-- MemberController -->
<div class="container-fluid section--box">
    <div class="row">

        <div class="col-lg-3 col-md-3">
            {% include 'layout/subnav.html.twig' %}
        </div>

        <div class="col-lg-6 col-md-10 col-sm-12 xs-12">
            <div class="event--card p-5">
                <h1 class="pt-5">Les Musiciens</h1>
                <p class="lead">Ils portent le kilt comme personne, souffle dans leur cornemuse avec ferveur, ou tape sur leur drum
                    plein d'entrain : voici nos musiciens.</p>
                <hr class="my-4">
                <div class="row text-center">
                    {% for member in members %}
                    <div class="col-4 clearfix musicien-box">
                        {% if member.memberStatut == 'Musicien' %}
                            <h5 class="p">{{ member.memberSurname }} {{ member.memberName }}</h5>
                            <div class="pik-id--box">
                                <img class="pik-id" src="{{ vich_uploader_asset(member, 'imageFile') }}" style="">
                            </div>
                            <p class="pik-id--p mb-5">{{ member.memberInformation }}</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <hr class="my-4">
            </div>
        </div>

        <div class="col-lg-3">
            <div class="gallery">

            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block footer %}
    {% include 'layout/footer.html.twig' %}
{% endblock %}