{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'layout/nav.html.twig' %}
{% endblock %}

{% block body %}
    <!--
    <img src="{{ asset('build/pik/bp/armada-rouen-2019-nhpb-cornemuserouen.jpg') }}" class="background--page" alt="...">
    -->
    <div class="container-fluid section--box">
        <div class="row">

            <div class="col-lg-3 col-md-3">
                {% include 'layout/subnav.html.twig' %}
            </div>

            <div class="col-lg-6 col-md-10 col-sm-12 xs-12">
                <div class="event--card p-5">
                    <h1 class="pt-5 card-title">Le NHPB</h1>
                    <p class="lead">Qui sommes nous ?
                    </p>
                    <hr class="my-4">
                    <div class="article-pik">
                        <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/62324757_10157140889354373_523492264966619136_n.jpg?_nc_cat=105&_nc_ohc=rYDG_vQ-MLAAX_xfX9P&_nc_ht=scontent-cdg2-1.xx&oh=86124c27cc0c8cbf5f351732c3f7e2e9&oe=5E91287B"
                             alt="Armada 2019 Défilé des marin cornemuse Rouen">
                    </div>
                    <p class="text-justify">
                        C'est en juin 2001 que 3 passionnés de musique écossaise se rencontrent au festival celtique
                        de Jumièges (76). L'un est joueur de cornemuse, le second joue de la caisse claire et le troisième...
                        est rapidement formé à la grosse caisse.
                    </p>
                    <p class="text-justify">
                        Après quelques mois de réflexion et de contacts divers, l'association NORMANDY HIGHLANDS PIPE BAND
                        (NHPB) est créée en septembre 2002. Depuis sa création, le NHPB a pour vocation première d'œuvrer
                        pour le devoir de mémoire en rendant hommage aux soldats tombés pour la liberté. En hommage aux soldats
                        écossais, il porte la tenue des régiments Black Watch (3 Scots), les Highlanders de ces régiments
                        furent nombreux à donner leur vie en France et dans notre région. En 2002, c'est la commune de Perriers
                        sur Andelle (27) qui accueille le NHPB et, par les infrastructures mises à sa disposition, lui offre de
                        pouvoir travailler et se développer. Le NHPB reste attaché à cette commune de cœur où il effectue
                        également sa première prestation le 11 novembre 2002.
                    </p>
                    <p class="text-justify">
                        Le NHPB est donc présent lors de nombreuses commémorations, sur demande des ambassades, des autorités
                        officielles, des associations ou des élus qui le sollicitent. Il l'est aussi pour de nombreuses fêtes,
                        défilés divers ou des parades qui se déroulent lors de grands événements historiques et culturels, en
                        France et en Europe. C'est ainsi que certains d'entre vous nous ont peut-être croisés le NHPB sur les
                        rivages de Dieppe ou du Calvados, à Mauny ou à Saint Valéry en Caux ou l'ont admiré lors du défilé des
                        équipages de la dernière Armada à Rouen.
                    </p>
                    <p>
                        De défilés en concerts (Bonnie Tyler, Soldat Louis) divers, le Normandy Highlands Pipe Band est aujourd'hui
                        ne association rouennaise qui œuvre plus que jamais pour la mémoire et promeut la culture écossaise.
                    </p>
                    <p>
                        Le NHPB s'articule désormais en une école de musique et un Pipe Band qui est la formation musicale reine de
                        l'association. Dans notre école "Highland Piping and Drumming School", chacun peut trouver une structure de
                        formation s'appuyant sur une méthode d'instruction officielle et un encadrement expérimenté pour apprendre à
                        son rythme la cornemuse ou le jeu des percussions avec les batteries Tom ténors ou Snares. Après une période
                        de formation nécessaire, les élèves de l'école peuvent intégrer les rangs du Pipe - Band et commencer à défiler.
                        Vient également la plus belle des récompenses pour les amoureux de l' Ecosse et de sa musique: porter le kilt
                        et la grande tenue "Full Dress" de cérémonie.
                    </p>
                    <p>
                        Nos musiciens partagent alors de riches moments de passion avec le public qui désormais reconnaît le NHPB
                        au - delà de la Normandie. Lors de sa première décennie, l'association NHPB a posé le socle d'une formation
                        solide qui lui permet aujourd'hui de se tourner vers de plus grandes manifestations.
                    </p>
                    <p>
                        Débutant ou joueur confirmé, rejoignez - nous !
                    </p>
                    <a href="mailto:pipebandnhpb@gmail.com">
                        <p>Contact : pipebandnhpb@gmail.com</p>
                    </a>
                    <div class="container-fluid mt-5">
                        <div class="row">
                            <div class="col-4">
                                <div class="pik">
                                    <figure class="figure">
                                        <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t31.0-8/19025294_10155294090574373_344358771473642760_o.jpg?_nc_cat=106&_nc_ohc=TRrK-YCgA4cAX9pPBqs&_nc_ht=scontent-cdg2-1.xx&oh=28844fbaf56e58e4808c2fe981f0a701&oe=5ED99653"
                                             class="figure-img img-fluid" alt="Pentecote en Kilt Normandie Pipe Band" style="width: 260px; height: 150px;">
                                        <figcaption class="figure-caption fg">Pentecote en Kilt</figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="pik">
                                    <figure class="figure">
                                        <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t31.0-8/p720x720/20934962_10155540576324373_356323851510855247_o.jpg?_nc_cat=100&_nc_ohc=3IJvqoGh3x4AX8idGhv&_nc_ht=scontent-cdg2-1.xx&_nc_tp=1&oh=5df13e49301ee822e1f8a10c23c8f446&oe=5EDA6A70"
                                             class="figure-img img-fluid" alt="Comémoration" style="width: 260px; height: 150px;">
                                        <figcaption class="figure-caption fg">Comémoration</figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="pik">
                                    <figure class="figure">
                                        <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/46156415_10156658395779373_3783358763159781376_o.jpg?_nc_cat=102&_nc_ohc=_iNuVoohnW4AX8CSFBb&_nc_ht=scontent-cdg2-1.xx&oh=f7ddf3514eb85f49f8e95288627d4dee&oe=5EA325E2"
                                             class="figure-img img-fluid" alt="Joueur de cornemuse comémoration" style="width: 260px; height: 150px;">
                                        <figcaption class="figure-caption fg">Comémoration du 11 Novembre</figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                </div>
            </div>

            <div class="col-lg-3">
                <div class="gallery">
                    <h6></h6>
                    <div class="pik-box">
                        <div class="pik">
                            <figure class="figure">
                                <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t31.0-8/s960x960/13996069_10154359685389373_4164025579395261561_o.jpg?_nc_cat=103&_nc_ohc=M4vvj8t_NbkAX9BGf6Z&_nc_ht=scontent-cdg2-1.xx&_nc_tp=1&oh=1e076360a921c5c86ac10f6a393ecb45&oe=5EAC1494"
                                     class="figure-img img-fluid rounded" alt="Coupe Lorient 2016">
                                <figcaption class="figure-caption fg">Lorient 2016</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'layout/footer.html.twig' %}
{% endblock %}