{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'layout/nav.html.twig' %}
{% endblock %}

{% block body %}
<div class="container-fluid section--box">
    <div class="row">

        <div class="col-lg-3 col-md-3">
            {% include 'layout/subnav.html.twig' %}
        </div>

        <div class="col-lg-6 col-md-10 col-sm-12 xs-12">
            <div class="event--card p-5">
                <h1 class="pt-5 card-title">Les prestations</h1>
                <p class="lead">Vous aimez la musique écossaise, et le doux son de la cornemuse vous manque ?
                    Vous cherchez une animation originale et originale ??
                </p>
                <p class="lead">
                    C'est un pipe band qu'il vous faut !!! Faîtes appel au Normandy Highland Pipe Band !
                </p>
                <hr class="my-4">
                <p>Les prestations  musicales sont assurées par un groupe de musiciens composé de joueurs de cornemuses écossaises (piper)
                    et de percussionnistes (drummers). Le répertoire est directement inspiré des musiques traditionnelles régimentaires et
                    contemporaines écossaises. Un certain nombre de musiciens viennent de formations musicales diverses où ils ont acquis l’expérience
                    et la culture de la musique traditionnelle écossaise. Et nous formons aussi nos propres musiciens au sein de notre
                    école de musique.</p>
                <p>Nous sommes basés à Rouen, en Haute Normandie.</p>
                <p>Pour plus de renseignements : répertoire musical, tenues, tarifs, contactez-nous...</p>
                <a href="mailto:pipebandnhpb@gmail.com">
                    <p>Contact : pipebandnhpb@gmail.com</p>
                </a>
                <div class="container-fluid mt-5">
                    <div class="row">
                        <div class="col-4">
                            <div class="pik">
                                <figure class="figure">
                                    <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/36802305_10156361726409373_3823017786796408832_n.jpg?_nc_cat=106&_nc_ohc=azJU2R3Wp-MAX8lACZH&_nc_ht=scontent-cdg2-1.xx&oh=554f1ad0ef5668ccb010e15c3bd367ff&oe=5ED7747F"
                                         class="figure-img img-fluid" alt="Amiens United piper for Peace NHPB Pie band" style="width: 260px; height: 150px;">
                                    <figcaption class="figure-caption fg">Comémoration</figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="pik">
                                <figure class="figure">
                                    <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/62472629_10157132602619373_5253006506386784256_n.jpg?_nc_cat=106&_nc_ohc=5gEobfGc-csAX-aLffZ&_nc_ht=scontent-cdg2-1.xx&oh=4e43e6271ce70e28a3e0f54856d70189&oe=5EAC93B9"
                                         class="figure-img img-fluid" alt="Pipe band défilé en full dress" style="width: 260px; height: 150px;">
                                    <figcaption class="figure-caption fg">Défilé en full dress</figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="pik">
                                <figure class="figure">
                                    <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/p720x720/35237572_10156311798124373_9067195317891366912_o.jpg?_nc_cat=109&_nc_ohc=eFhmK1uAGXIAX_a_Eme&_nc_ht=scontent-cdg2-1.xx&_nc_tp=1&oh=86ebd2849c15643422b217e4c5d251fc&oe=5EA9147D"
                                         class="figure-img img-fluid" alt="NHPB fête quartier Grieu Rouen" style="width: 260px; height: 150px;">
                                    <figcaption class="figure-caption fg">Fête de quartier</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4">
            </div>
        </div>

        <div class="col-lg-3">
            <div class="gallery">
                <h6></h6>
                <div class="pik-box">
                    <div class="pik">
                        <figure class="figure">
                            <img src="build/pik/bp/nhpb-caricature-2.jpg" class="figure-img img-fluid rounded" alt="...">
                            <figcaption class="figure-caption fg">Caricature du NHPB par Claude Quillien</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include 'layout/footer.html.twig' %}
{% endblock %}