{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'layout/nav.html.twig' %}
{% endblock %}

{% block body %}
    <div class="card">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('build/pik/bp/united-pipers-for-peace-massband-amiens-2018-2-nhpb-cornemuserouen.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('build/pik/bp/united-pipers-for-peace-massband-amiens-2018-nhpb-cornemuserouen.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('build/pik/bp/nhpb-caricature-2.jpg') }}" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        <div>
            <h1><?php echo $nom_site; ?></h1>
        </div>
    </div>
    <div class="card-body">
        <div class="container-fluid landing">
            <div class="row">
                <div class="col-xl-2 pt-2 logo">
                    {# assets/images/logo-square.png was copied to public/build/logo-square.png #}
                    <img class="pr-1 text-right" src="{{ asset('build/pik/logo-square.png') }}">
                </div>
                <div class="col-xl-10 col-lg-md-sm-xs-12 pt-3 text-left">
                    <p>Le Normandy Highland Pipe Band sillonne la France et outre-frontières depuis 2002, pour vous faire découvrir la musique écossaise.</p>
                    <p>Basée à Rouen en Normandie, notre association assure des prestations musicales lors de fêtes, de commémorations,
                        ou de célébrations particulières. Nos musiciens, joueurs de cornemuse et percusionnistes formés dans notre école de musique défilent en tenue civile,
                        militaire, full dress Black Watch ou décontractée selon les circonstances. Le répertoire musical est directement inspiré
                        des musiques traditionnelles régimentaires, et contemporaines.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}