{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'layout/nav.html.twig' %}
{% endblock %}

{% block body %}
<div class="container-fluid section--box">
    <div class="row">

        <div class="col-lg-3 col-md-3">
            {% include 'layout/subnav.html.twig' %}
        </div>

        <div class="col-lg-6 col-md-10 col-sm-12 xs-12">
            <div class="event--card p-5">
                <h1 class="pt-5 card-title">L'école de musique</h1>
                <p class="lead">Apprendre la cornemuse, le snare drum, le tom...
                </p>
                <hr class="my-4">
                <div class="article-pik">
                    <img src="/build/pik/bp/nhpb-cours-de-cornemuse.jpg"
                         alt="cours cornemuse">
                </div>
                <p>
                    VOUS RÊVEZ DE REJOINDRE LE Normandy Highland Pipe Band ! Vous souhaitez apprendre la cornemuse ou les percussions
                    (Snare ou Tom ténor) avec la méthode traditionnelle écossaise ?
                    C'est donc le moment de commencer votre apprentissage en suivant l'un de nos cours. Venez comme vous êtes...
                    un practice à acheter sur place avant votre 1ère leçon et le livret d'apprentissage vous est remis.
                </p>
                <p>
                    C'est donc le moment de commencer votre apprentissage en suivant l'un de nos cours. Venez comme vous êtes...
                    un practice à acheter sur place avant votre 1ère leçon et le livret d'apprentissage vous est remis.
                </p>
                <p>
                    Les cours se déroulent chaque jeudi, hors vacances scolaires, de 18h30 à la MJC Saint Sever,
                    place de Hanovre, rive gauche à Rouen.
                </p>
                <a href="mailto:pipebandnhpb@gmail.com">
                    <p>Contact : pipebandnhpb@gmail.com</p>
                </a>
                <div class="container-fluid mt-5">
                    <div class="row">
                        <div class="col-4">
                            <div class="pik">
                                <figure class="figure">
                                    <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/80563642_10157627940044373_1374784555747115008_n.jpg?_nc_cat=105&_nc_ohc=Jvjzt_AXonAAX_TeoTO&_nc_ht=scontent-cdg2-1.xx&oh=381fafdf1e6c0cd0b8c03456fd5ccf24&oe=5EAA7971"
                                         class="figure-img img-fluid" alt="Lecture de partition" style="width: 260px; height: 150px;">
                                    <figcaption class="figure-caption fg">Lecture des partitions</figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="pik">
                                <figure class="figure">
                                    <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/79782041_10157627940194373_7367383129130008576_n.jpg?_nc_cat=102&_nc_ohc=ZOf9mw02OIEAX-t_WSy&_nc_ht=scontent-cdg2-1.xx&oh=dfd178566f8febc7140896a35aef2409&oe=5EA95C3A"
                                         class="figure-img img-fluid" alt="Entrainement Snare Drum percussion" style="width: 260px; height: 150px;">
                                    <figcaption class="figure-caption fg">Apprentissage Snare Drum</figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="pik">
                                <figure class="figure">
                                    <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/79814436_10157627939979373_4520351528833253376_n.jpg?_nc_cat=103&_nc_ohc=QW050j7L3-oAX_Zd2Lr&_nc_ht=scontent-cdg2-1.xx&oh=2d669e9b226f016b054fed354820b2f5&oe=5EAD7D0E"
                                         class="figure-img img-fluid" alt="répétition au practice de cornemuse" style="width: 260px; height: 150px;">
                                    <figcaption class="figure-caption fg">Practice de cornemuse</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4">
            </div>
        </div>

        <div class="col-lg-3">
            <div class="gallery">
                <h6></h6>
                <div class="pik-box">
                    <div class="pik">
                        <figure class="figure">
                            <img src="/build/pik/school/nhpb-manuel-musical.jpg" class="figure-img img-fluid rounded" alt="manuel musique écossaise NHPB">
                            <figcaption class="figure-caption fg">Manuel d'apprentissage</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block footer %}
    {% include 'layout/footer.html.twig' %}
{% endblock %}