{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'layout/nav_admin.html.twig' %}
{% endblock %}

{% block body %}

    <img src="{{ asset('build/pik/Royal-stewart-tartan.png') }}" class="background--page" alt="...">
    <div class="container-fluid section--box">
        <div class="row">
            <!--
            <div class="col-lg-2 col-md-2">

            </div>
            -->
            <div class="col-lg-12 col-md-12 col-sm-12 xs-12">
                <div class="card text-dark p-5">
                    <h1 class="pt-5 card-title">Administration</h1>
                    <a class="btn btn-primary" href="{{ path('event_index') }}">Les évènements</a>
                </div>
            </div>
            <!--
            <div class="col-lg-3">

            </div>
            -->
        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}