{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'layout/nav.html.twig' %}
{% endblock %}

{% block body %}

<!--
<img src="{{ asset('build/pik/Clan_Stewart_tartan.svg.png') }}" class="background--page" alt="...">
-->
<div class="container-fluid section--box">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
            <div class="mt-5 pt-5">
                {% include 'layout/subnav_admin.html.twig' %}
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-9 xs-9">
            <div class="container--section--admin pl-lg-5">
                <div class="section--admin p-lg-2">
                    <h1 class="pt-5">Administration</h1>
                    <div class="container-fluid">
                        <div class="row">
                            {% if is_granted('ROLE_ADMIN') %}
                            <div class="col-lg-6">
                                <h3>Les Membres</h3>
                            </div>
                            {% endif %}
                            <div class="col-lg-6">
                                <h3>Les Evènements</h3>
                                {% for event in events %}
                                    <h6><a href="{{ path('event_show', {'id': event.id}) }}">{{ event.eventTitle }}</a></h6>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}