<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="build/pik/logo-square.png">
    <link rel="shortcut icon" href="http://www.ctoutblanc.fr/favicon.ico">
    <link rel="fa fa-icon" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>
<body>
{% block nav %}{% endblock %}

{% block body %}{% endblock %}

{% block footer %}{% endblock %}

<script type="text/javascript" href="{{ asset('build/app.js') }}"></script>
<script type="text/javascript" href="{{ asset('build/runtime.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>

