.navbar {
  background-color: black;
  height: 7vh;
  transition-duration: 2s;
  transition-delay: 2s;
}

.navbar-nav {
  margin-left: 17vw !important;
}

.nav-link {
  color: white !important;
}

.fb-page {
  position: absolute;
  top: 1;
  right: 0;
  z-index: 40;

  img {
    height: 2.5rem;
  }
}

@media (max-width: 1450px) {

  a {
    font-size: 0.8rem;
  }
}
@media (max-width: 1300px) {

  .navbar-nav {
    margin-left: 3vw !important;
  }
  .nav-link {
    font-size: 0.7rem;
  }

  a {
    font-size: 1rem;
  }
}