<nav class="navbar fixed-top navbar-expand-lg justify-content-lg-center">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerNav" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-lg-5" id="navbarTogglerNav">
        <a class="navbar-brand" href="">NHPB</a>
        <ul class="navbar-nav mr-auto ml-5 mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link ml-lg-5" href="{{ path('about') }}">A propos</a>
            </li>
            <li class="nav-item ml-lg-5 pl-lg-2">
                <a class="nav-link" href="">Journal de bord</a>
            </li>
            <li class="nav-item ml-lg-5 pl-lg-2">
                <a class="nav-link" href="{{ path('school') }}" tabindex="-1" aria-disabled="true">L'école de musique</a>
            </li>
            <li class="nav-item ml-lg-5 pl-lg-2">
                <a class="nav-link" href="{{ path('hireus') }}" tabindex="-1" aria-disabled="true">Les prestations</a>
            </li>
            <li class="nav-item ml-lg-5 pl-lg-2">
                <a class="nav-link" href="mailto:pipebandnhpb@gmail.com" tabindex="-1" aria-disabled="true">Nous contacter</a>
            </li>
            <li class="nav-item ml-lg-5 pl-lg-2">
                <a class="nav-link" href="mailto:pipebandnhpb@gmail.com" tabindex="-1" aria-disabled="true">Se connecter</a>
            </li>
            <li class="nav-item ml-lg-4 pl-lg-1 pr-lg-2">
                <div class="fb-page" data-href="https://www.facebook.com/NORMANDY-HIGHLANDS-PIPE-BAND-273182514372"
                     data-tabs="timeline" data-width="" data-height="" data-small-header="true"
                     data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false">
                    <blockquote cite="https://www.facebook.com/NORMANDY-HIGHLANDS-PIPE-BAND-273182514372" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/NORMANDY-HIGHLANDS-PIPE-BAND-273182514372"
                           onclick="window.open(this.href); return false;">
                            <img src="https://img.icons8.com/color/48/000000/facebook-new.png">
                        </a></blockquote>
                </div>
            </li>
        </ul>
        <!-- research zone found of the Bootstrap code
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        -->
    </div>
</nav>